<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExampleApplication"
        tools:targetApi="31">


        <activity
            android:name=".SecondActivity"
            android:exported="false"
            android:theme="@style/Theme.ExampleApplication" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThirdActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LogoutActivity" />
        <activity android:name=".LoginActivity" />

        <activity android:name=".NorthIndianCuisineActivity" />
        <activity android:name=".SouthIndianCuisineActivity" />
        <activity android:name=".StreetFoodCuisineActivity" />
        <activity android:name=".NonVegetarianCuisineActivity" />

        <activity android:name=".IdliRecipeActivity"></activity>
        <activity android:name=".CholeRecipeActivity"></activity>
        <activity android:name=".JeeraRiceRecipeActivity"></activity>
        <activity android:name=".KheerRecipeActivity"></activity>
        <activity android:name=".PalakPaneerRecipeActivity"></activity>
        <activity android:name=".NaanRecipeActivity"></activity>
        <activity android:name=".PaneerRecipeActivity"></activity>
        <activity android:name=".TandooriRecipeActivity"></activity>
        <activity android:name=".VegBiriyaniRecipeActivity"></activity>
        <activity android:name=".DhoklaRecipeActivity"></activity>

        <activity android:name=".AppamRecipeActivity"></activity>
        <activity android:name=".BisibeleBathRecipeActivity"></activity>
        <activity android:name=".CabbageThoranRecipeActivity"></activity>
        <activity android:name=".DosaRecipeActivity"></activity>
        <activity android:name=".KesaribathRecipeActivity"></activity>
        <activity android:name=".LemonRiceRecipeActivity"></activity>
        <activity android:name=".RagiMuddeRecipeActivity"></activity>
        <activity android:name=".RiceRotiRecipeActivity"></activity>
        <activity android:name=".VennPongalRecipeActivity"></activity>

        <activity android:name=".VadapavRecipeActivity" />
        <activity android:name=".PavbhajiRecipeActivity" />
        <activity android:name=".SamosaRecipeActivity" />
        <activity android:name=".ChaatRecipeActivity" />
        <activity android:name=".KebabsRecipeActivity" />
        <activity android:name=".BhelpuriRecipeActivity" />
        <activity android:name=".FrankieRecipeActivity" />
        <activity android:name=".AlootikkiRecipeActivity" />
        <activity android:name=".EggrollRecipeActivity" />
        <activity android:name=".PanipuriRecipeActivity" />


        <activity android:name=".ChickenTikkaRecipeActivity" />
        <activity android:name=".ButterChickenRecipeActivity" />
        <activity android:name=".MuttonKebabRecipeActivity" />
        <activity android:name=".ChickenShawarmaRecipeActivity" />
        <activity android:name=".EggCurryRecipeActivity" />
        <activity android:name=".FishFryRecipeActivity" />
        <activity android:name=".ChickenSukkaRecipeActivity" />
        <activity android:name=".TandooriChickenRecipeActivity" />
        <activity android:name=".BiryaniRecipeActivity" />
        <activity android:name=".ChickenCurryRecipeActivity" />

        <activity android:name=".FavoritesActivity"></activity>

    </application>

</manifest>